.ipynb_checkpoints
*/.ipynb_checkpoints/*
.DS_Store
misc/*.png
mudguard/tokens
__pycache__/
mudguard/self/access_token.pickle
mudguard/self/client.secret
mudguard/self/activities.csv
mudguard/conf.json
secrets/
charts/data/noga/
misc/beeps/*.wav
