<!DOCTYPE html>
<html dir="rtl" lang="he">
<head>
  <link rel="stylesheet" href="static/styles.css">
  <title>עלויות צריכת חשמל לפי ספק</title>
</head>
<body>
    <h1>שגיאה!</h1>
    מצטערים, לא הצלחנו לחשב עלויות לפי הקובץ ששלחת.
    יכול להיות שאין שם מספיק נתונים. כדאי לאסוף נתונים במשך שבועיים לפחות ואז להעלות למחשבון.
    אם נראה לך שזו שגיאה אצלנו, אפשר ליצור קשר לפי הפרטים מטה.

  {{msg}}

    <div class="footer">
        <a href="https://twitter.com/danpelleg" target="_blank">דן פלג בטוויטר</a>
        <a href="mailto:electricity@pelleg.org">מייל לדן פלג</a>
        <a href="https://t.me/electricrates">קבוצת דיון בטלגרם</a>
    </div>



</body>
</html>
